@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Tajawal:200,300,400");
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeout {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.75; }
  50% {
    opacity: 0.5; }
  75% {
    opacity: 0.25; }
  100% {
    opacity: 0;
    display: none; } }
@keyframes translate {
  0% {
    transform: translate(30vw, 5vh); }
  100% {
    transform: translate(5vw, 5vh); } }
@keyframes activate {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.page {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, #2dfdaa 100%); }
  .page .Hal {
    transform: translate(30vw, 5vh);
    border: 5px solid #a1abb2;
    border-radius: 5px;
    width: 16vw;
    height: 90vh;
    background-color: #2E3030; }
    .page .Hal .name {
      height: 80%;
      width: 97.9%;
      border: 3px solid #595959; }
      .page .Hal .name .showName {
        margin-left: 20%;
        margin-top: 10%;
        font-size: 2em;
        color: white;
        display: flex;
        border: 3px solid white;
        width: 55%;
        text-align: center; }
        .page .Hal .name .showName #hallo {
          margin-right: 5%;
          background-color: #55baff;
          padding-left: 10%;
          padding-right: 3%; }
      .page .Hal .name .redeye {
        margin-top: 120%; }
@keyframes hal-bg-animation {
  0% {
    filter: saturate(0.5); }
  50% {
    filter: saturate(1.2); }
  100% {
    filter: saturate(0.5); } }
@-webkit-keyframes hal-bg-animation {
  0% {
    -webkit-filter: saturate(0.5); }
  50% {
    -webkit-filter: saturate(1.2); }
  100% {
    -webkit-filter: saturate(0.5); } }
        .page .Hal .name .redeye .hal9000 {
          position: relative;
          width: 200px;
          height: 200px;
          margin: 4rem auto;
          border-radius: 50%;
          background: #ced6d8;
          /* Old browsers */
          background: -moz-linear-gradient(-30deg, #ced6d8 0%, #222127 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ced6d8), color-stop(100%, #222127));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(-30deg, #ced6d8 0%, #222127 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(-30deg, #ced6d8 0%, #222127 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(-30deg, #ced6d8 0%, #222127 100%);
          /* IE10+ */
          background: linear-gradient(150deg, #ced6d8 0%, #222127 100%);
          /* IE6-9 fallback on horizontal gradient */
          box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 -1px 1px rgba(0, 0, 0, 0.4), 1px 5px 15px rgba(0, 0, 0, 0.6);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ced6d8', endColorstr='#222127',GradientType=0 ); }
        .page .Hal .name .redeye .hal9000:before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 184px;
          height: 184px;
          margin: -92px 0 0 -92px;
          content: ' ';
          border-radius: 50%;
          background: #4f565d;
          /* Old browsers */
          background: -moz-linear-gradient(-30deg, #4f565d 0%, #161314 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #4f565d), color-stop(100%, #161314));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(-30deg, #4f565d 0%, #161314 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(-30deg, #4f565d 0%, #161314 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(-30deg, #4f565d 0%, #161314 100%);
          /* IE10+ */
          background: linear-gradient(150deg, #4f565d 0%, #161314 100%);
          /* IE6-9 fallback on horizontal gradient */
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -1px 1px rgba(255, 255, 255, 0.25);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f565d', endColorstr='#161314',GradientType=0 ); }
        .page .Hal .name .redeye .hal9000:after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 168px;
          height: 168px;
          margin: -84px 0 0 -84px;
          content: ' ';
          transition: all .7s;
          -webkit-animation: hal-bg-animation 3.4s infinite;
          animation: hal-bg-animation 3.4s infinite;
          border-radius: 50%;
          background: #000;
          /* Old browsers */
          background: -moz-radial-gradient(center, ellipse cover, #d80018 0%, #9c0109 20%, #000 60%, #000 100%);
          /* FF3.6+ */
          background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #d80018), color-stop(20%, #9c0109), color-stop(60%, #000), color-stop(100%, #000));
          /* Chrome,Safari4+ */
          background: -webkit-radial-gradient(center, ellipse cover, #d80018 0%, #9c0109 20%, #000 60%, #000 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-radial-gradient(center, ellipse cover, #d80018 0%, #9c0109 20%, #000 60%, #000 100%);
          /* Opera 12+ */
          background: -ms-radial-gradient(center, ellipse cover, #d80018 0%, #9c0109 20%, #000 60%, #000 100%);
          /* IE10+ */
          background: radial-gradient(ellipse at center, #d80018 0%, #9c0109 20%, #000 60%, #000 100%);
          /* IE6-9 fallback on horizontal gradient */
          box-shadow: 0 -4px 2px -2px rgba(224, 239, 247, 0.6);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c0109', endColorstr='#000000',GradientType=1 ); }
@keyframes hal-eye-animation {
  0% {
    box-shadow: 1px -2px 15px 5px rgba(253, 210, 71, 0.25), -1px 2px 13px 13px rgba(255, 0, 4, 0.7); }
  25% {
    box-shadow: 0 3px 16px 4px rgba(253, 210, 71, 0.3), 1px 1px 15px 15px rgba(255, 0, 4, 0.7); }
  50% {
    box-shadow: -2px -1px 16px 6px rgba(253, 210, 71, 0.35), -1px -1px 14px 14px rgba(255, 0, 4, 0.7); }
  75% {
    box-shadow: 0 0 15px 5px rgba(253, 210, 71, 0.3), 1px -1px 15px 13px rgba(255, 0, 4, 0.7); }
  100% {
    box-shadow: 1px -2px 15px 5px rgba(253, 210, 71, 0.25), -1px 2px 13px 13px rgba(255, 0, 4, 0.7); } }
@-webkit-keyframes hal-eye-animation {
  0% {
    box-shadow: 1px -2px 15px 5px rgba(253, 210, 71, 0.25), -1px 2px 13px 13px rgba(255, 0, 4, 0.7); }
  25% {
    box-shadow: 0 3px 16px 4px rgba(253, 210, 71, 0.3), 1px 1px 15px 15px rgba(255, 0, 4, 0.7); }
  50% {
    box-shadow: -2px -1px 16px 6px rgba(253, 210, 71, 0.35), -1px -1px 14px 14px rgba(255, 0, 4, 0.7); }
  75% {
    box-shadow: 0 0 15px 5px rgba(253, 210, 71, 0.3), 1px -1px 15px 13px rgba(255, 0, 4, 0.7); }
  100% {
    box-shadow: 1px -2px 15px 5px rgba(253, 210, 71, 0.25), -1px 2px 13px 13px rgba(255, 0, 4, 0.7); } }
        .page .Hal .name .redeye .hal9000 .hal-eye {
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 50%;
          width: 144px;
          height: 144px;
          margin: -72px 0 0 -72px;
          border-radius: 50%;
          box-shadow: 0 -4px 3px -1px rgba(240, 240, 255, 0.55); }
        .page .Hal .name .redeye .hal9000 .hal-eye:before {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 128px;
          height: 128px;
          margin: -64px 0 0 -64px;
          content: ' ';
          border-radius: 50%;
          box-shadow: -1px -3px 2px -1px rgba(240, 240, 255, 0.45); }
        .page .Hal .name .redeye .hal9000 .hal-eye:after {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 24px;
          height: 24px;
          margin: -12px 0 0 -12px;
          content: ' ';
          /* IE6-9 fallback on horizontal gradient */
          -webkit-animation: hal-eye-animation 4.5s infinite;
          animation: hal-eye-animation 4.5s infinite;
          border-radius: 50%;
          background: #fdd247;
          /* Old browsers */
          background: -moz-radial-gradient(center, ellipse cover, #fff0fc 0%, #ffe091 20%, #ffe26c 45%, #fdd247 100%);
          /* FF3.6+ */
          background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fff0fc), color-stop(20%, #ffe091), color-stop(45%, #ffe26c), color-stop(100%, #fdd247));
          /* Chrome,Safari4+ */
          background: -webkit-radial-gradient(center, ellipse cover, #fff0fc 0%, #ffe091 20%, #ffe26c 45%, #fdd247 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-radial-gradient(center, ellipse cover, #fff0fc 0%, #ffe091 20%, #ffe26c 45%, #fdd247 100%);
          /* Opera 12+ */
          background: -ms-radial-gradient(center, ellipse cover, #fff0fc 0%, #ffe091 20%, #ffe26c 45%, #fdd247 100%);
          /* IE10+ */
          background: radial-gradient(ellipse at center, #fff0fc 0%, #ffe091 20%, #ffe26c 45%, #fdd247 100%);
          box-shadow: 1px -2px 15px 5px rgba(253, 210, 71, 0.25), -1px 2px 13px 13px rgba(255, 0, 4, 0.7);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe091', endColorstr='#ffe26c',GradientType=1 ); }
        .page .Hal .name .redeye .hal9000 .hal-reflect {
          font-family: 'Open Sans';
          position: absolute;
          z-index: 2;
          top: 50%;
          left: 50%;
          overflow: hidden;
          width: 128px;
          height: 128px;
          margin: -64px 0 0 -64px;
          color: #eefcfd;
          border-radius: 50%; }
        .page .Hal .name .redeye .hal9000 .hal-reflect:before,
        .page .Hal .name .redeye .hal9000 .hal-reflect:after {
          position: absolute;
          display: block;
          width: 300px;
          content: '\2584\2584\00a0\00a0\00a0\00a0\2580\2580\00a0\00a0\00a0\00a0\2584\2584';
          text-align: center; }
        .page .Hal .name .redeye .hal-reflect:before {
          font-size: 30px;
          top: -5px;
          left: -86px;
          transform: matrix3d(0.45, 0, 0, 0, 0, 0.25, 0, 0.0075, 0, 0, 1, 0, 0, 0, 0, 1);
          color: rgba(238, 252, 253, 0.45);
          text-shadow: 3px 3px 6px, 7px 7px 6px, -3px -3px 4px, -7px -7px 4px, 4px -4px 3px, -4px 4px 3px, 3px 34px 6px, 3px 34px 6px; }
        .page .Hal .name .redeye .hal9000 .hal-reflect:after {
          font-size: 30px;
          top: 14px;
          left: -84px;
          transform: matrix3d(0.3, 0, 0, 0, 0, 0.15, 0, 0.0075, 0, 0, 1, 0, 0, 0, 0, 1);
          color: rgba(238, 252, 253, 0.35);
          text-shadow: 5px 5px 5px, 8px 8px 7px, -5px -5px 5px, -8px -8px 7px, 4px -5px 4px, -5px 4px 5px, 2px 37px 5px, 2px 37px 5px; }
    .page .Hal .rect {
      height: 18.7%;
      width: 97.9%;
      border: 3px solid #595959; }
  .page .intro {
    transform: translate(40vw, 20vh);
    font-family: "Tajawal";
    color: white;
    font-size: 3em;
    font-weight: 350;
    width: 20vw;
    border: 1px solid white;
    opacity: 0;
    animation: fade 1s forwards;
    height: 30vh;
    padding: 2vh 2vw;
    border-radius: 8px; }
    .page .intro h5 {
      opacity: 0;
      animation-delay: 0.5s;
      animation: fade 1.5s forwards; }
    .page .intro #p1 {
      opacity: 0;
      animation: fade 1.5s forwards;
      animation-delay: 1.5s;
      margin-top: 2vh; }
    .page .intro #p2 {
      opacity: 0;
      animation: fade 1.5s forwards;
      animation-delay: 3s;
      margin-top: 2vh; }
  .page .fadeout {
    animation: fadeout 1s forwards; }
  .page .translate {
    animation: translate 2s forwards; }
  .page .chatbox {
    display: none; }
    .page .chatbox .chatscreen {
      height: 60vh;
      display: block;
      width: 60vw;
      border: 5px solid #a1abb2;
      background: #020024;
      background: linear-gradient(180deg, #020024 0%, #5dc8b1 0%, #44bad2 99%);
      transform: translate(20vw, 10vh);
      overflow-y: scroll; }
      .page .chatbox .chatscreen .incomingMSG {
        background: rgba(40, 99, 255, 0.7);
        border-radius: 15px;
        padding: 0.5vh 2vw;
        margin-top: 1vh;
        margin-left: 1vw;
        border-bottom-left-radius: 0;
        color: white;
        font-family: "Tajawal";
        max-width: 15vw; }
      .page .chatbox .chatscreen .outgoingMSG {
        background: #4B4E4F;
        margin-left: 40vw;
        border-radius: 15px;
        padding: 0.5vh 2vw;
        margin-top: 1vh;
        margin-right: 1vw;
        border-bottom-right-radius: 0;
        color: white;
        font-family: "Tajawal";
        max-width: 15vw;
        text-align: right; }
      .page .chatbox .chatscreen h5 {
        font-family: "Tajawal";
        font-size: 1.3em;
        color: white;
        margin-left: 23vw;
        margin-top: 1vh; }
    .page .chatbox .chatinput {
      width: 60vw;
      height: 5vh;
      background-color: #a1abb2;
      transform: translate(20.5vw, 15vh);
      border-radius: 20px; }
  .page .showChatBox {
    transform: translateX(-30vw);
    opacity: 0;
    display: block;
    animation: activate 1s forwards;
    animation-delay: 0.5s; }

/*# sourceMappingURL=style.css.map */
